easuy-ejb/build/
easuy-ejb/nbbuild/
easuy-ejb/dist/
easuy-ejb/nbdist/
easuy-war/build/
easuy-war/nbbuild/
easuy-war/dist/
easuy-war/nbdist/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.class
nbproject/private
easuy-ejb/nbproject/private
easuy-war/nbproject/private
easuy-ejb/nbactions.xml
easuy-war/nbactions.xml
easuy-ejb/nb-configuration.xml
easuy-war/nb-configuration.xml