/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 18, 2014, 5:04:08 PM
    Author     : Diogo
*/

.ui-widget {
    border: none;
    background-color: #f5f5f5;
}

.ui-widget-header {
    color: #999;
}

.ui-panel {
    padding: 0.2em 0 0.2em 0;
}

.ui-corner-all {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.table-login-cell {
    padding: 0.2em;
}

#panel-registration{
    width: 33%;
}

.custom-table {
    border: 1px solid black;
    padding: 10px;
}